[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/tinygltf"]
	path = submodules/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
